@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-4 py-3 bg-white border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

.input-custom {
  @apply w-full px-2 py-1 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

nav {
  padding-bottom: env(safe-area-inset-bottom);
}
html,
body {
  height: 100%;
  overflow-y: scroll;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}
.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-slide-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.fade-slide-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
